language: objective-c
osx_image: xcode7.3
rvm:
  - 2.2.5

install:

script:
  - xcodebuild -scheme Photos -workspace Photos.xcworkspace -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 6S,OS=9.1' build test
after_success:
  - bash <(curl -s https://codecov.io/bash)
